body {
    text-align: center;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    background-color: #E4F9F5;

}

h1 {
    color: #40514E;
    font-size: 50px;
    margin-bottom: 60px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px; 

}



#container {
    display: flex;
    gap: 150px;
    justify-content: center;
    user-select: none;
    padding-right: 150px;
}

.tools {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/*GRID*/
.grid-box {
    display: flex;
    flex-direction: column;
    
}

#grid {
    display: flex;
    height: 480px;
    width: 480px;
    
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
   flex: 1;
}
   

/* CELLS */
.cell {
    width: 10px;
    height: 10px;
    background-color: white;
}

.alive {
    background-color: black;
}

/* BUTTONS */
.buttons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
   
  
/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  padding-bottom: 0px;
  font-size: 13px;
}






