body {
    text-align: center;
    font-family: "Gill Sans", sans-serif;;
    background-color: #EEEEEE;

}

h1 {
    color: #393E46;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    

}

#container {
    display: flex;
    gap: 50px;
    justify-content: center;
    user-select: none;
    padding-right: 150px;
}

.tools {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/*GRID*/
.grid-box {
    display: flex;
    flex-direction: column;
    
}

#grid {
    display: flex;
    
    height: 600px;
    width: 600px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
   flex: 1;
   border: 0.5px solid #EEEEEE;
}
   

/* CELLS */
.cell {
    width: 10px;
    height: 10px;
    
}

.alive {
    background-color: #00ADB5;
}

/* BUTTONS */
.buttons {
    width: 10rem;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#apply-btn, #play-btn {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 5px;
    background-color: #393E46;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

#clear-btn {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 5px;
    background-color: #F15A59;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#clear-btn:hover {
    background-color: #F15A59;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
    transform: scale(1.05);
}

#clear-btn:active {
    background-color: #F15A59;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}
  
#play-btn:hover{
    background-color: #393E46;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
    transform: scale(1.05);
}
  
#play-btn:active, #apply-btn:active {
    background-color: #393E46;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


/*INPUT*/
input{
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

label{
    text-align: left;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group {
    display: flex;
    gap: 2px;
}




