body {
    text-align: center;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    background-color: #E4F9F5;

}

h1 {
    color: #40514E;
    font-size: 50px;
    margin-bottom: 60px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px; 

}



/*GRID*/
.grid {
    display: grid;
    gap: 1px;
}

.cell {
    width: 10px;
    height: 10px;
    background-color: white;
}

.alive {
    background-color: black;
}

/* BUTTONS */
.buttons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
   
  




/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  padding-bottom: 0px;
  font-size: 13px;
}






